*{
box-sizing:border-box;
padding:0;
margin:0;
}
.main_note{
height:100px;
 
width:300px;
margin:auto;
margin-top:5px;
margin-bottom:2px;
padding:20px;
box-shadow:2px 20px 8px whitesmoke;
}

.note{
height:150px;
margin-top: 10%;
width:auto;
margin-top:5px;
margin-bottom:2px;
padding:20px;
box-shadow:2px 20px 2px whitesmoke;
}
.note-box{
	margin-top: 10%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.btn{
	border-radius: 100%;
}
.btn-box{
float:right;
position:relative;
}
.inner-item{
	border:none;
	outline: none;
}
 
.inner-item :placeholder{
  color: black;
  font-weight: bolder;
}
/* footer Code */
 
.main-div{
	display: flex !important;
	flex-direction: column !important;
	height: 100vh !important;

}
.footer{
	width: 100vw;


	height: 5rem;
	background-color: black;
   margin-top: auto;
}
.footer p{
	color: red;
	font-size: 1.6rem;
	text-align: center;
	text-transform:capitalize;
	line-height: 5rem;

}
@media(max-width: 600px){
	.footer p{
		font-size: 1rem; 
	}
}
